@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 0;
  --background-start-rgb: 12, 12, 12;
  --background-end-rgb: 12, 12, 12;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: "Courier New", Courier, monospace;
}

@layer components {
  .hacker-input {
    @apply bg-hacker-bg text-hacker-text border-hacker-accent focus:border-hacker-text focus:ring-hacker-text;
  }

  .hacker-button {
    @apply bg-hacker-accent text-hacker-bg hover:bg-hacker-text hover:text-hacker-bg;
  }
}

